section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background: #1c1c1c;
}

.about-me-container {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    gap: 10px;

    h2 {
        font-weight: 100;
        color: #3bcfb6;;
        margin-top: 150px;
    }

}

.profile-img-container {
    width: 50%;   
}

.about-me-text-container {
    width: 40%;
    color: aliceblue;
    font-family: sans-serif;

    .about-me-text {
        background-color: #1f2e2bd4;
        padding: 40px 20px;
        border-radius: 32px;
        border: 1px solid #3dcfb6;
    }

    .text-container {
        display: flex;
        gap: 10px; 
    }

    h1 {
        font-size: 70px;
        margin-top: 0px;
        color: #3bcfb6;
    }
}

