<section>
    <div class="about-me-container">
    <div class="profile-img-container">
        <img src="../../assets/img/profil.png" alt="">
    </div>
    
    <div class="about-me-text-container">
        <h2>Who I Am</h2>
        <div class="about-me-text">
            <h1>About me</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus error veniam harum sed ex debitis rerum tempore fugiat hic dolorum ab tenetur consectetur consequatur est nobis, officia accusamus eligendi laudantium.</p>
            <div class="text-container">
                <img src="../../assets/img/location.svg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sequi unde doloribus laudantium recusandae nesciunt amet esse dolorem laborum ipsa saepe aliquid atque, minus excepturi ab ex ipsum reiciendis repudiandae?</p>
            </div>
            <div class="text-container">
                <img src="../../assets/img/cognition.svg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sequi unde doloribus laudantium recusandae nesciunt amet esse dolorem laborum ipsa saepe aliquid atque, minus excepturi ab ex ipsum reiciendis repudiandae?</p>
            </div>
            <div class="text-container">
                <img src="../../assets/img/releases.svg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sequi unde doloribus laudantium recusandae nesciunt amet esse dolorem laborum ipsa saepe aliquid atque, minus excepturi ab ex ipsum reiciendis repudiandae?</p>
            </div>
        </div>  
    </div>
</div>
</section>
