.header-navigation {
    position: absolute;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 18px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    nav {
        display: flex;
        align-items: center;
    }

    .button-link {
        color: #ffffff;
        font-size: 14px;
        padding: 5px;
        opacity: 0;
        display: inline-block;
        animation: type 0.6s steps(10) forwards;

        &:hover {
            cursor: pointer;
        }
    }

    .nav-link, .lang-link {
        position: relative;
        text-decoration: none;
        color: #ffffff;
        transition: all .2s ease-in-out;
        font-size: 20px;
        font-family: 'Roboto Mono', monospace;
        margin-left: 20px;
        opacity: 0;
        display: inline-block;
        animation: type 0.6s steps(3) forwards;

        &::after {
            content: ""; 
            position: absolute;
            left: 50%;
            bottom: -5px; 
            transform: translateX(-50%);
            width: 0px; 
            height: 0px; 
            background-color: #3dcfb6; 
            border-radius: 50%; 
            transition: width 0.3s ease, height 0.3s ease; 
        }

        &:hover::after {
            width: 5px; 
            height: 5px; 
        }
    }

    @keyframes type {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .button-link:nth-child(1) { animation-delay: 0.1s; }
    .button-link:nth-child(2) { animation-delay: 0.2s; }
    .nav-link:nth-child(2) { animation-delay: 0.3s; }
    .nav-link:nth-child(3) { animation-delay: 0.4s; }
    .nav-link:nth-child(4) { animation-delay: 0.5s; }
    .nav-link:nth-child(5) { animation-delay: 0.6s; }
    .nav-link:nth-child(6) { animation-delay: 0.7s; }
    
    
}

.switch-button {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 20px;
}

.logo {
    display: flex;
    font-weight: bold;
    font-size: 60px;
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    animation: type 0.6s steps(10) forwards;
    margin: 0px;

    .text-name {
        font-size: 12px;
    }
}

.name-container {
    display: flex;
    flex-direction: column;
}

.logo .char {
    display: inline-block;
    opacity: 0;
    animation: type 1s steps(1) forwards;
}

.logo .char:nth-child(1) { animation-delay: 0.1s; }
.logo .char:nth-child(2) { animation-delay: 0.2s; }

section{
    color: #ffffff;
    height: 300px;
    display: flex;
    justify-content: space-between;
  
  }
  
  .initials{
    right: 180px;
    top: 20px;
    font-size: 60px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
  };
  
  .M{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    color: rgba(61, 207, 182, 0.8)
  }
  .A{
    margin-right: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(61, 207, 182);
    font-size: 61px;
  }
  
  .logo{
    gap: 10px;
    display: flex;
    align-items: center;
  }
  .name{
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
  }

  .logo:hover .initials {
    color: transparent;
  }
  
  .logo:hover .A,
  .logo:hover .M {
    transition: 500ms;
    color: transparent;
    -webkit-text-stroke: 1px #5cd1b9;
  }
  
  .logo:hover .name {
    transition: 300ms;
    color: transparent;
    -webkit-text-stroke: 1px #5cd1b9;
  }



  

