.header-navigation {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  position: fixed;
  height: 85px;
  left: 50%;
  top: 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 100%;
  transform: translateX(-50%);
  z-index: 2;
  background-color: #1c1c1c8b;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #3dcfb764;


  nav {
    display: flex;
    align-items: center;
  }

  .button-link {
    color: #ffffff;
    font-size: 12px;
    padding: 5px;
    opacity: 1;
    display: inline-block;


    &:hover {
      cursor: pointer;
    }
  }

  .nav-link,
  .lang-link {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    transition: all .2s ease-in-out;
    font-size: 18px;
    font-family: 'Conthrax', sans-serif;
    margin-left: 20px;
    opacity: 1;
    display: inline-block;


    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -5px;
      transform: translateX(-50%);
      width: 0px;
      height: 0px;
      background-color: #3dcfb6;
      border-radius: 50%;
      transition: width 0.3s ease, height 0.3s ease;
    }

    &:hover::after {
      width: 5px;
      height: 5px;
    }
  }

  @keyframes type {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .button-link:nth-child(1) {
    animation-delay: 0.1s;
  }

  .button-link:nth-child(2) {
    animation-delay: 0.2s;
  }

  .nav-link:nth-child(2) {
    animation-delay: 0.3s;
  }

  .nav-link:nth-child(3) {
    animation-delay: 0.4s;
  }

  .nav-link:nth-child(4) {
    animation-delay: 0.5s;
  }

  .nav-link:nth-child(5) {
    animation-delay: 0.6s;
  }

  .nav-link:nth-child(6) {
    animation-delay: 0.7s;
  }


}

.nav-link-container {
  display: flex;
  align-items: center;
}

.switch-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 20px;
  font-family: 'Conthrax', sans-serif;
}

.logo {
  display: flex;
  font-weight: bold;
  font-size: 60px;
  color: #ffffff;
  animation: type 0.6s steps(10) forwards;
  margin: 0px;

  .text-name {
    font-size: 12px;
  }
}

.name-container {
  display: flex;
  flex-direction: column;
}

.logo .char {
  display: inline-block;
  opacity: 0;
  animation: type 1s steps(1) forwards;
}

.logo .char:nth-child(1) {
  animation-delay: 0.1s;
}

.logo .char:nth-child(2) {
  animation-delay: 0.2s;
}

section {
  color: #ffffff;
  display: flex;
  justify-content: space-between;

}

.initials {
  right: 180px;
  top: 20px;
  font-size: 60px;
  font-family: 'Skinz';
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
}

;

.M {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  color: rgb(61, 207, 182);
  font-size: 42px;
}

.A {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 42px;
}

.logo {
  gap: 10px;
  display: flex;
  align-items: center;
}

.name {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Skinz';
  color: white;
}

.logo:hover .initials {
  color: transparent;
}

.logo:hover .A,
.logo:hover .M {
  transition: 500ms;
  color: transparent;
  -webkit-text-stroke: 1px #5cd1b9;
}

.logo:hover .name {
  transition: 300ms;
  color: transparent;
  -webkit-text-stroke: 1px #5cd1b9;
}

.mobile-menu {
  display: none;
}

.nav-link-mobile {
  display: none;
  position: absolute;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  top: 40px;
  right: 5px;
  width: 238px;
  height: 252px;
  background: linear-gradient(55.22deg, #1c1c1c 36.26%, #08463b 93.28%);
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #3dcfb6;

  button {
    margin-top: 10px;

    .button-link {
      opacity: 1;
      display: inline-block;
      animation: type 0.0s steps(3) forwards;
    }
  }

  .mobile-link {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Conthrax', sans-serif;
    opacity: 1;
    display: inline-block;
    animation: type 0.0s steps(3) forwards;


    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -10px;
      transform: translateX(-50%);
      width: 0px;
      height: 0px;
      background-color: #3dcfb6;
      border-radius: 50%;
      transition: width 0.3s ease, height 0.3s ease;
    }

    &:hover::after {
      width: 5px;
      height: 5px;
    }
  }
}

.menu-open {
  justify-content: center;
  flex-direction: column;
}

.nav-link-mobile a {
  margin: 10px 0;
}

.mobile-menu {
  position: relative;
}

.nav-link-mobile.menu-open {
  left: -20px;
}

@media (max-width: 1460px) {
  .header-navigation {
    padding-left: 10px;
    padding-right: 10px;
  }
}


@media (max-width: 700px) {
  .name {
    display: none;
  }

  .initials {
    padding-left: 10px;

    .M {
      font-size: 47px;

    }

    .A {
      font-size: 48px;
    }
  }

  .header-navigation {
    display: flex;
    flex-direction: row-reverse;
  }

  .nav-link-container {
    display: none;
  }

  .mobile-menu {
    display: block;
    padding-right: 10px;

    z-index: 999;

    img {
      width: 36px;
      height: 32px;
      object-fit: contain;
      z-index: 999;

      &:hover {
        cursor: pointer;
      }
    }
  }
}