<section>
  <nav class="header-navigation">
    <div (click)="openMenu()" class="mobile-menu">
      <img [src]="menuIcon"  alt="menu icon">
      <div class="nav-link-mobile" [ngStyle]="{'display': isMenuOpen ? 'flex' : 'none'}">
        <button class="switch-button">
          <span class="button-link">DE</span>
          <span class="button-link">EN</span>
        </button>
        <a href="#projects-section" class="mobile-link">Projects</a>
        <a href="#skill-section" class="mobile-link">Skills</a>
        <a href="#about-me" class="mobile-link">About me</a>
      </div>
    </div>
    <div class="nav-link-container">
      <button class="switch-button">
        <span class="button-link">DE</span>
        <span class="button-link">EN</span>
      </button>
      <a href="#about-me" class="nav-link">About me</a>
      <a href="#skill-section" class="nav-link">Skills</a>
      <a href="#projects-section" class="nav-link">Projects</a>
    </div>
    <div>
      <div class="logo">
        <div class="initials">
          <span class="M">M</span>
          <span class="A">A</span>
        </div>
      </div>
    </div>
  </nav>
</section>