<section>
    <div class="about-me-container">
    <div class="about-me-text-container">
        <span>Technologies</span>
        <div class="about-me-text">
            <h1>Skill Set</h1>
            <div class="text-container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sequi unde doloribus laudantium recusandae nesciunt amet esse dolorem laborum ipsa saepe aliquid atque, minus excepturi ab ex ipsum reiciendis repudiandae?</p>
            </div>
            <div class="text-container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sequi unde doloribus laudantium recusandae nesciunt amet esse dolorem laborum ipsa saepe aliquid atque, minus excepturi ab ex ipsum reiciendis repudiandae?</p>
            </div>
            <div class="text-container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sequi unde doloribus laudantium recusandae nesciunt amet esse dolorem laborum ipsa saepe aliquid atque, minus excepturi ab ex ipsum reiciendis repudiandae?</p>
            </div>
        </div>  
    </div>
    <div class="profile-img-container">
        <img src="../../assets/img/profil.png" alt="">
    </div>
</div>
</section>
