<section>
    <div class="skill-container">
        <div class="left-container">
            <h2>Technologies</h2>
            <div class="skill-text">
                <h1>Skill Set</h1>
                <div class="text-container">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sequi unde doloribus laudantium
                        recusandae nesciunt amet esse dolorem laborum ipsa saepe aliquid atque, minus excepturi ab ex
                        ipsum reiciendis repudiandae?
                        Tempora sequi unde doloribus laudantium recusandae nesciunt amet esse dolorem laborum ipsa saepe
                        aliquid atque, minus excepturi ab ex ipsum reiciendis repudiandae?
                    </p>
                </div>
                <h2>You need another skill?</h2>
                <div class="text-container">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Eveniet, hic.</p>
                </div>
                <button class="btn"><span class="text">Let's Talk</span></button>
            </div>
        </div>
        <div class="right-container">
            <div *ngFor="let skill of skills" class="skill-container">
                <div class="icon-container">
                    <img [src]="skill.src" alt="{{ skill.src }}" [alt]="skill.text">
                    <p>{{ skill.text }}</p>
                </div>
            </div>
        </div>
    </div>
</section>