<section id="projects-section">
  <div data-aos="fade-right" data-aos-offset="400" class="projects-container">
    
    <!-- Header Bereich -->
    <header class="projects-title">
      <h1>{{ 'projects.title' | translate }}</h1>
      <p>{{ 'projects.text' | translate }}</p>
      <p>{{ 'projects.text2' | translate }}</p>
    </header>
    
    <div class="seperator"></div>

    <!-- Projekt Liste -->
    @for (project of projects; track project.number; let i = $index) {
      <article
        (mouseenter)="setHoveredProject(i)"
        (mouseleave)="clearHoveredProject()"
        (click)="selectProject(project)"
        class="projects projects-img width"
      >
        <h2>{{ project.title }}</h2>
        <p>
          @for (tech of getMainTechnologies(project); track tech; let isLast = $last) {
            {{ tech }}
            @if (!isLast) {
              <span>|</span>
            }
          }
        </p>
      </article>
      
      @if (!$last) {
        <div class="seperator"></div>
      }
    }
     <div class="seperator"></div>
  </div>

 

  <!-- Modal/Overlay -->
  @if (selectedProject) {
    <div class="overlay">
      <div data-aos="zoom-in" class="project-info">
        <div class="project-left">
          <h1>{{ selectedProject.number }}</h1>
          <h2>{{ selectedProject.title }}</h2>
          <h3>{{ selectedProject.subtitle | translate }}</h3>
          <p>{{ selectedProject.description | translate }}</p>
          <div class="project-icons">
            @for (technology of selectedProject.technologies; track technology.iconUrl) {
              <div>
                <img [src]="technology.iconUrl" alt="Technology icon">
              </div>
            }
          </div>
          <div class="button-container">
            <a [href]="selectedProject.githubUrl" target="_blank" class="btn">
              <span class="text">Github</span>
            </a>
            <a [href]="selectedProject.livetestUrl" target="_blank" class="btn">
              <span class="text">Live Test</span>
            </a>
          </div>
        </div>
        <div class="project-right">
          <div class="close-button-container">
            <button (click)="selectedProject = null">X</button>
          </div>
          <img [src]="selectedProject.infoUrl">
          <div class="next-button-container">
            <button (click)="next()">
              {{ 'project-info.button' | translate }}
              <img src="./assets/img/arrow.svg" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  }
</section>



