<section id="projects-section">
    <div data-aos="fade-right"
    data-aos-offset="400"
    data-aos-easing="ease-in-sine" class="projects-container">
        <div class="projects-title">
            <h3>Portfolio</h3>
            <h1>{{ 'projects.title' | translate }}</h1>
            <p>{{ 'projects.text' | translate }}</p>
            <p>{{ 'projects.text2' | translate }}</p>
        </div>
        <div class="seperator"></div>

        <article (click)="selectProject(projects[0])" class="projects projects-img width"
            (mouseenter)="hoveredImageUrl = projects[0].imageUrl" (mouseleave)="hoveredImageUrl = null"
            [ngStyle]="{'--hovered-image': 'url(' + hoveredImageUrl + ')'}">
            <h2>Join</h2>
            <p>JavaScript <span>|</span> HTML <span>|</span> CSS <span>|</span> Firebase</p>
        </article>

        <div class="seperator"></div>

        <article (click)="selectProject(projects[1])" class="projects projects-img width"
            (mouseenter)="hoveredImageUrl = projects[1].imageUrl" (mouseleave)="hoveredImageUrl = null"
            [ngStyle]="{'--hovered-image': 'url(' + hoveredImageUrl + ')'}">
            <h2>El Pollo Loco</h2>
            <p>HTML <span>|</span> CSS <span>|</span> JavaScript</p>
        </article>

        <div class="seperator"></div>

        <article (click)="selectProject(projects[2])" class="projects projects-img width"
            (mouseenter)="hoveredImageUrl = projects[2].imageUrl" (mouseleave)="hoveredImageUrl = null"
            [ngStyle]="{'--hovered-image': 'url(' + hoveredImageUrl + ')'}">
            <h2>DA Bubble</h2>
            <p>Angular <span>|</span> TypeScript <span>|</span> HTML <span>|</span> CSS <span>|</span> Firebase</p>
        </article>

        <div class="seperator"></div>
    </div>

    <div data-aos="zoom-in" class="project-info" *ngIf="selectedProject">
        <div class="project-left">
            <h1> {{ selectedProject.number }}</h1>
            <h2>{{ selectedProject.title }}</h2>
            <h3>{{ selectedProject.subtitle | translate }}</h3>
            <p>{{ selectedProject.description | translate }}</p>
            <div class="project-icons">
                <div *ngFor="let technology of selectedProject.technologies">
                    <img [src]="technology.iconUrl" alt="{{ technology.name }}">
                </div>
            </div>
            <div class="button-container">
                <a [href]="selectedProject.githubUrl" target="_blank" class="btn"><span class="text">Github</span></a>
                <a [href]="selectedProject.livetestUrl" target="_blank"  class="btn"><span class="text">Live Test</span></a>
            </div>
        </div>
        <div class="project-right">
            <div class="close-button-container">
                <button (click)="selectedProject = null">X</button>
            </div>
            <img [src]="selectedProject.infoUrl">
            <div class="next-button-container">
                <button (click)="next()">{{ 'project-info.button' | translate }}<img src="../../assets/img/arrow.svg" alt=""></button>
            </div>
        </div>
    </div>
</section>