<section id="projects-section">
    <div class="projects-container">

        <div class="projects-title">
            <h3>Portfolio</h3>
            <h1>Featured Projects</h1>
            <p>Explore a selection of my work here - Interact with</p>
            <p>projects to see my skills in action</p>
        </div>
        <div class="seperator"></div>
        <article (click)="projektInfo()" class="projects projects-img width" (mouseenter)="hoveredImageUrl = '../../assets/img/join-hover.svg'"
            (mouseleave)="hoveredImageUrl = null" [ngStyle]="{'--hovered-image': 'url(' + hoveredImageUrl + ')'}">
            <h2>Join</h2>
            <p>JavaScript <span>|</span> HTML <span>|</span> CSS <span>|</span> Firebase</p>
        </article>
        <div class="seperator"></div>
        <article (click)="projektInfo()" class="projects projects-img width" (mouseenter)="hoveredImageUrl = 'assets/img/pollo-hover.svg'"
            (mouseleave)="hoveredImageUrl = null" [ngStyle]="{'--hovered-image': 'url(' + hoveredImageUrl + ')'}">
            <h2>El Pollo Loco</h2>
            <p>HTML <span>|</span> CSS <span>|</span> JavaScript</p>
        </article>
        <div class="seperator"></div>
        <article (click)="projektInfo()" class="projects projects-img width" (mouseenter)="hoveredImageUrl = 'assets/img/bubble-hover.svg'"
            (mouseleave)="hoveredImageUrl = null" [ngStyle]="{'--hovered-image': 'url(' + hoveredImageUrl + ')'}">
            <h2>DA Bubble</h2>
            <p>Angular <span>|</span> TypeScript <span>|</span> HTML <span>|</span> CSS <span>|</span> Firebase</p>
        </article>
        <div class="seperator"></div>
    </div>
    <div class="project-info"></div>
</section>