<section id="contact-section">
  <div class="contact-container">
    <div class="left-container">
      <div class="contact-text">
        <div>
          <h3>{{ 'contact.contact' | translate }}</h3><br>
          <h1>{{'contact.title' | translate}}<br> {{ 'contact.title1' | translate }}</h1>
        </div>
        <div>
          <h3>{{ 'contact.title2' | translate }}</h3><br>
          <p> {{ 'contact.textbox' | translate }} <br> {{ 'contact.textbox1' | translate }}</p><br>
          <p>{{ 'contact.textbox2' | translate }} <span> {{ 'contact.span' | translate }}</span></p>
        </div>
      </div>
      <a href="#welcome-area" class="scroll-up">
        <img src="../../assets/img/arrow.svg" alt="Scroll up">
      </a>
    </div>
    <div class="right-container">
      <form [formGroup]="contactForm" (ngSubmit)="submitForm()" class="contact-formular">
        <div class="top-side">
          <div class="input">
            <label for="name">{{ 'contactform.name' | translate }}</label>
            <input type="text" id="name" formControlName="name" placeholder="{{'placeholder.name' | translate}}" autocomplete="off" required />
            <div *ngIf="contactForm.controls['name'].invalid && contactForm.controls['name'].touched">
              <small class="error">Please enter your name.</small>
            </div>
          </div>
          <div class="input">
            <label for="email">{{'contactform.email' | translate}}</label>
            <input type="email" id="email" formControlName="email" placeholder="{{'placeholder.email' | translate}}" autocomplete="off" required />
            <div *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched">
              <small class="error">Please enter a valid email.</small>
            </div>
          </div>
          <div class="input">
            <label for="message">{{'contactform.message' | translate}}</label>
            <textarea id="message" formControlName="message" placeholder="{{'placeholder.message' | translate}}" rows="2" required></textarea>
            <div *ngIf="contactForm.controls['message'].errors?.['wordCount'] && contactForm.controls['message'].touched">
              <small class="error">Message must be at least 10 words long.</small>
            </div>
          </div>
        </div>
        <div class="bottom-side">
          <div class="send-contact">
            <input type="checkbox" id="check" class="checkbox" formControlName="agree" autocomplete="off" />
            <label for="check">
              {{'policy.text1' | translate}} <a (click)="scrollToTop()" routerLink="/policy">{{'policy.text2' | translate}}</a> {{'policy.text3' | translate}}
            </label>
          </div>
          <div class="btn-container">
            <button type="submit" [disabled]="contactForm.invalid">{{ 'contactform.button' | translate }}</button>
          </div>
        </div>
      </form>
      <div *ngIf="messageSent">
        <p>Message sent successfully!</p>
      </div>
      <div *ngIf="errorMessage">
        <p class="error">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</section>



