<section id="contact-section">
  <div class="contact-container">
    <div class="left-container">
      <div class="contact-text">
        <div>
          <h3>Contact Me</h3><br>
          <h1>Let's work <br>together</h1>
        </div>
        <div>
          <h3>Got a Problem to solve?</h3><br>
          <p>Contact me through the form. I am interested in hearing from you, <br>
            knowing your ideas, and contributing to your projects with my work.</p><br>
          <p>Need a Fullstack developer? <span>Let's talk!</span></p>
        </div>
      </div>
      <a href="#welcome-area" class="scroll-up">
        <img src="../../assets/img/arrow.svg" alt="Scroll up">
      </a>
    </div>
    <div class="right-container">
      <form [formGroup]="contactForm" (ngSubmit)="submitForm()" class="contact-formular">
        <div class="top-side">
          <div class="input">
            <label for="name">Your Name</label>
            <input type="text" id="name" formControlName="name" placeholder="Your name goes here" autocomplete="off" required />
            <div *ngIf="contactForm.controls['name'].invalid && contactForm.controls['name'].touched">
              <small class="error">Please enter your name.</small>
            </div>
          </div>
          <div class="input">
            <label for="email">Your Email</label>
            <input type="email" id="email" formControlName="email" placeholder="youremail@email.com" autocomplete="off" required />
            <div *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched">
              <small class="error">Please enter a valid email.</small>
            </div>
          </div>
          <div class="input">
            <label for="message">Your Message</label>
            <textarea id="message" formControlName="message" placeholder="Hallo Marco, I am interested in..." rows="2" required></textarea>
            <div *ngIf="contactForm.controls['message'].errors?.['wordCount'] && contactForm.controls['message'].touched">
              <small class="error">Message must be at least 10 words long.</small>
            </div>
          </div>
        </div>
        <div class="bottom-side">
          <div class="send-contact">
            <input type="checkbox" id="check" class="checkbox" formControlName="agree" autocomplete="off" />
            <label for="check">
              I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.
            </label>
          </div>
          <div class="btn-container">
            <button type="submit" [disabled]="contactForm.invalid">Say Hello ;)</button>
          </div>
        </div>
      </form>
      <div *ngIf="messageSent">
        <p>Message sent successfully!</p>
      </div>
      <div *ngIf="errorMessage">
        <p class="error">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</section>



