<section>
    <div class="imprint-container">
    <h1>{{'imprint.title' | translate}}</h1>
    <p>
        {{'imprint.subtitle' | translate}}
    </p>
    <p>
        Marco Angermann <br>
        Unterm Saley 24 <br>
        58840 Plettenberg
    </p>
    <h3>
        {{'imprint.subtitle2' | translate}}
    </h3>
    <p>
        Marco Angermann
    </p>
    <h3>
        {{'imprint.contact' | translate}}
    </h3>
    <p>
        Phone: <a href="tel:+49 176 123 45 67">0176 123 45 67</a> <br>
        E-Mail: <a href="mailto:MarcoAngermann&#64;hotmail.de">MarcoAngermann&#64;hotmail.de</a>
    </p>
    <a href="#welcome-area" class="back-arrow">
        <img src="../../assets/img/arrow.svg" alt="Scroll up">
      </a>
</div>
</section>
