<section id="welcome-area">
    <div class="above-me-container">
        <div class="typing-container">
            <h2 class="typing-text">Fullstack Developer</h2>
            <h1 class="typing-text">Marco Angermann</h1>
        </div>
        <div class="button-container">
            <a href="#projects-section" class="btn text"><span class="text">Check my work</span></a>
            <a href="#contact-section" class="btn"><span class="text">Contact me</span></a>
        </div>
        <div class="seperator-container-left">
            <a href="#footer" class="scroll-down"><img src="../../assets/img/arrow.svg" alt=""></a>
            <div class="seperator-left"></div>
        </div>
        <div class="seperator-container-right">
            <a class="mail" href="">MarcoAngermann&#64;hotmail.de</a>
            <div class="socials">
                <a class="mail-icon" href="mailto:MarcoAngermann&#64;hotmail.de" target="_blank"><img
                        src="../../assets/img/mail.svg" alt=""></a>
                <a href="https://github.com/MarcoAngermann/" target="_blank"><img src="../../assets/img/Github.svg"
                        alt=""></a>
                <a href="https://www.linkedin.com/in/marco-angermann-7354a230b/" target="_blank"><img
                        src="../../assets/img/linkdin.svg" alt=""></a>
            </div>
            <div class="seperator-right"></div>
        </div>
    </div>
    <div class="marquee-container">
        <div class="marquee-content">
            @for(number of [1, 2, 3, 4, 5]; track number){
            @for (item of items ; track items){
            <span class="dot">•</span>
            <span>{{ item }}</span>
            }
            }
        </div>
    </div>
</section>