<footer id="footer">
    <div class="footer-container">
        <div class="footer-left">
            <div class="logo">
                <div class="initials">
                  <span class="M">M</span>
                  <span class="A">A</span>
                </div>
                <!-- <div class="name">
                  Marco <br>
                  Angermann
                </div> -->
              </div>
              <div>
                <p>Web Developer</p>
                <p>Plettenberg Germany</p>
              </div>
        </div>
        <div class="footer-middle">
            <span>&#169; Marco Angermann 2024</span>
        </div>
        <div class="footer-right">
            <a href="https://github.com/MarcoAngermann/" target="_blank">Github</a>
            <a href="https://www.linkedin.com/in/marco-angermann-7354a230b/" target="_blank">LinkedIn</a> 
            <a href="mailto:MarcoAngermann@hotmail.de" target="_blank">Email</a>
            <a routerLink="/imprint">Legal Notice</a>
        </div>
    </div>
</footer>
