<section>
    <div class="privacy-policy-container">
      <h1>{{ 'privacy.title' | translate }}</h1>
      <p>{{ 'privacy.intro' | translate }}</p>
  
      <h2>{{ 'privacy.dataCollectionTitle' | translate }}</h2>
      <p>{{ 'privacy.dataCollectionDescription' | translate }}</p>
  
      <h3>{{ 'privacy.responsibleTitle' | translate }}</h3>
      <p>{{ 'privacy.responsibleDescription' | translate }}</p>
  
      <h3>{{ 'privacy.howDataCollectedTitle' | translate }}</h3>
      <p>{{ 'privacy.howDataCollectedDescription1' | translate }}</p>
      <p>{{ 'privacy.howDataCollectedDescription2' | translate }}</p>
  
      <h3>{{ 'privacy.dataUsageTitle' | translate }}</h3>
      <p>{{ 'privacy.dataUsageDescription' | translate }}</p>
  
      <h3>{{ 'privacy.rightsTitle' | translate }}</h3>
      <p>{{ 'privacy.rightsDescription' | translate }}</p>
  
      <h2>{{ 'privacy.hostingTitle' | translate }}</h2>
      <p>{{ 'privacy.hostingProviderInfo' | translate }}</p>
      <p>
        <a href="https://all-inkl.com/datenschutzinformationen/" target="_blank" rel="noopener noreferrer">
          {{ 'privacy.hostingProviderLink' | translate }}
        </a>
      </p>
  
      <h2>{{ 'privacy.generalNoticeTitle' | translate }}</h2>
      <p>{{ 'privacy.generalNoticeDescription' | translate }}</p>
  
      <h3>{{ 'privacy.storageDurationTitle' | translate }}</h3>
      <p>{{ 'privacy.storageDurationDescription' | translate }}</p>
  
      <h3>{{ 'privacy.legalBasisTitle' | translate }}</h3>
      <p>{{ 'privacy.legalBasisDescription' | translate }}</p>
  
      <h3>{{ 'privacy.dataRecipientsTitle' | translate }}</h3>
      <p>{{ 'privacy.dataRecipientsDescription' | translate }}</p>
  
      <h3>{{ 'privacy.revocationTitle' | translate }}</h3>
      <p>{{ 'privacy.revocationDescription' | translate }}</p>
      
      <a href="#welcome-area" class="back-arrow">
        <img src="../../assets/img/arrow.svg" alt="Scroll up">
      </a>
    </div>
  </section>
  
